@{
    ViewData["Title"] = "Home Page";
}

<head>
   <style>

       p{
           font-size: 20px;
           font-family: Arial;
       }

   </style>

</head>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
